[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
button#sign-out.btn.btn-link,
button#sign-in.btn.btn-link {
  float: right;
  margin-top: 10px;
  color: #a2c3c3;
}

div#book-list {
  border-radius: 10px;
  padding: 10px;
  margin: 2px 5px;
  background-color: #d0e1e1;
}

div#top-container {
  min-height: 400px;
}

html, body {
  padding-top: 32px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #596070;
}

div#landing {
  margin: -2em;
}

div.topics {
  margin-bottom: 2em;
}

div#footer.jumbotron {
  border-top: 10px solid #d0e1e1;
  background-color: #596070;
  margin: 0;
  color: #d0e1e1;
  padding: 50px;
}
#footer  a {
  color: #ffffff;
}

button#btn-subscribe {
  margin: 0.5em 0;
}

div.circle-icon:hover {
  background-color: #4f5563;
}

div.circle-icon {
  background-color: #596070;
  border: 2px solid #4f5563;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  margin: 0 auto;
  cursor: pointer;
}

.btn-success {
  background-color: #009900;
}

div.container,
div#top-container {
  padding: 2em;
}

div#user-blocks li.list-group-item {
  display: inline-block;
  width: 100%;
}

div#user-blocks #book-details label {
  margin-top: 1.5em;
}

.list-group-item {
  border: 2px solid #009900;
  font-weight: 500;
  margin: 0.5em 0;
}
.list-group-item.more:hover {
  background-color: #ffff80;
}
.list-group-item.more {
  background-color: #ffffe6;
  border-bottom: 2px solid #008000;
}

.list-group-item:hover {
  background-color: #94b8b8;
}
li.list-group-item.active {
  background-color: #94b8b8;
}
li.list-group-item.active:hover {
  background-color: #94b8b8;
}

.circle-icon i {
  margin-top: 35px;
  font-size: 4em;
  color: #d0e1e1;
}
.fa.fa-leanpub {
  color: #d0e1e1;
}

div#main-banner h2 {
  color: #d0e1e1;
  font-size: 4em;
  padding: 20px;
  margin: 60px auto;
  border-radius: 20px;
  text-shadow:
  -2px -2px 0 #1e2f2f,
  2px -2px 0 #1e2f2f,
  -2px 2px 0 #1e2f2f,
  2px 2px 0 #1e2f2f;
}
#icon-banner {
  margin: 0;
  padding: 100px 30px;
}
div#icon-banner p {
  max-height: 200px;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

div#main-banner.jumbotron {
  margin: 0;
  height: 600px;
  background: url('../img/library.jpg ');
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-position: center top;
}

div#parchment-banner.jumbotron {
  margin: 0;
  height: 600px;
  background: url('../img/parchment.jpg ');
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-position: center top;
}


#header {
  height: 65px;
  border-bottom: 2px solid #00cc00;
  background-color: #596070;
  margin: 0;
}
#header a {
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 10px;
  margin: 5px 1px;
}
#header ul a:active,
#header ul a:focus,
#header ul a:hover
{
  background-color: #4f5563;
  color: #ffffff;
}

#header ul li.active a
{
  background-color: #4f5563;
  color: #00cc00;
}
#header ul a:focus,hover
{
  background-color: #4f5563;
  color: #ffffff;
}

#header a.navbar-brand {
  font-size: 1.2em;
  color: #ffffff;
}
#header a.navbar-brand:hover {
  font-size: 1.2em;
  color: #ffffff;
}
ul.nav.navbar-nav {
  background-color: #596070;
}
#login-button {
  position: absolute;
  right: 0;
}
#logout-button {
  position: absolute;
  right: 0;
}

#user-pic {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-size: 100%;
}

/* Blocks */
  .readers-list {
    min-height: 180px;
    width: 160px;
    display: inline-block;
    margin: 0.5em;
  }

  .user-block ul.list-group {
    padding-left: 15px;
    margin: 1em 0;
  }

  div.panel-heading {
    min-height: 55px;
  }

  div.panel-heading h3.panel-title {
    display: inline;
  }

  li.list-group-item {
    cursor: pointer;
  }

  li.list-group-item:hover {
    -moz-box-shadow:    inset 0 0 4px #ccc;
    -webkit-box-shadow: inset 0 0 4px #ccc;
    box-shadow:         inset 0 0 4px #ccc;
  }

  li.list-group-item span {
    margin: 0.2em;
  }

  span.community-ratings {
    float: right;
    color: #ffd700;
  }

  span.critic-ratings {
    float: right;
    color: #0034c2;
  }

  #add-list {
    float: right
  }


.book-results-list {
  list-style-type: none;
}

button.btn-search {
  margin-top: 1em;
}
