[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

#user-pic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: 100%;
}

/* Blocks */
  .readers-block {
    padding: 4em 2em;
  }
  
  .readers-list {
    min-height: 180px;
    width: 160px;
    display: inline-block;
    margin: 0.5em;
  }
  
  .readers-list:hover {
    cursor: pointer;
  }
  
  .user-block {
    display: none;
  }


