
<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      Club Position: {{user.position}}
      <button ng-hide="editing" ng-click="changeMode()" class="btn btn-default">
        Edit
      </button>
      <button ng-show="editing" ng-click="save()" class="btn btn-default">
        Done
      </button>
    </div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <label for="name"> Name </label>
          <input ng-show="editing" id="name" class="form-control" ng-model="user.name" placeholder="name"></input>
          <p ng-hide="editing"> {{user.name}} </p>
        </div>

        <div class="form-group">
          <label for="email"> Email </label>
          <input ng-show="editing" id="email" class="form-control" ng-model="user.email" placeholder="email"></input>
          <p ng-hide="editing"> {{user.email}} </p>
        </div>

        <div class="form-group">
          <label for="phone"> Phone </label>
          <input ng-show="editing" id="phone" class="form-control" ng-model="user.phone" placeholder="phone"></input>
          <p ng-hide="editing"> {{user.phone}} </p>
        </div>

        <div class="form-group">
          <label for="bio"> Bio </label>
          <textarea ng-show="editing" id="bio" class="form-control" ng-model="user.bio" placeholder="bio"></textarea>
          <p ng-hide="editing"> {{user.bio}} </p>
        </div>

        <div class="form-group">
          <button ng-click="disableAccount()" class="btn btn-danger">
            disable account
          </button>
        </div>
      </form>
    </div>
  </div>


  <h2>My Cars</h2>

  <div ng-repeat = "(key, value) in cars" ng-show="user.loggedIn">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3> {{value.year}} {{value.model}} <i ng-show="value.name.length>0">"{{value.name}}"</i> </h3>
      </div>
      <div class="panel-body">
        <div class="row">

          <!-- Car basic info -->
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="edit-info">
              <form>
                <div class="form-group">
                  <label for="car-year"> Year </label>
                  <input id="car-year" class="form-control" type="text" ng-model="value.year"/>
                </div>
                <div class="form-group">
                  <label for="car-model"> Model </label>
                  <input class="form-control" type="text" ng-model="value.model"/>
                </div>
                <div class="form-group">
                  <label for="car-name"> Car Name </label>
                  <input id="car-name" class="form-control" type="text" ng-model="value.name"/>
                </div>
              </form>
              <button class="btn btn-info" ng-click="updateCar(key, value)">update</button>
              <button class="btn btn-danger" ng-click="deleteCar(key ,value)">delete</button>
            </div>
          </div>

          <!-- Car bio -->
          <div class="col-xs-12 col-sm-6 col-md-6">
            <form>
              <div class="form-group">
                <label for="car-bio"> Car bio </label>
                <textarea id="car-bio" class="form-control" ng-model="value.bio" placeholder="bio"></textarea>
              </div>
            </form>
          </div>
        </div>

        <div class="row">

          <!-- Car photos -->
          <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat = "photo in value.photos">
            <div class="remove-car">
              <p class="text-center">
              <span class="glyphicon glyphicon-remove"></span>
              </p>
            </div>

            <img class="account-car" ng-src="{{photo.url}}"></img>
            <textarea class="form-control car-caption" ng-model="photo.caption" placeholder="caption"></textarea>
          </div>

          <!-- Add Car photo -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="add-car text-center">
              <h4> <span class="glyphicon glyphicon-picture"></span> Add Photo <span ng-show="value.name.length > 0">of</span> {{value.name}}</h4>
              <input data-key="{{key}}" class="add-file-car" class="form-control" type="file" onChange=" angular.element(this).scope().saveImage(this.files[0], this);">
              </input>
            </div>
            <!--<img class="account-car-placeholder img-responsive" src="{{newPhoto.url}}"></img>-->
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- add new car -->
  <div class="panel panel-info">
    <div class="panel-heading">
      <button class="btn btn-success pull-right" ng-click="addCar()"> Save </button>
      <h3> Add Car </h3>
    </div>
    <div class="panel-body">
      <div class="row">

        <!-- New Car basic info -->
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="edit-info">
            <form>
              <div class="form-group">
                <label for="car-year"> Year </label>
                <input id="car-year" class="form-control" type="text" ng-model="newCar.year" placeholder="car year"/>
              </div>
              <div class="form-group">
                <label for="car-model"> Model </label>
                <input class="form-control" type="text" ng-model="newCar.model" placeholder="car model"/>
              </div>
              <div class="form-group">
                <label for="car-name"> Car Name </label>
                <input id="car-name" class="form-control" type="text" ng-model="newCar.name" placeholder="car nickname"/>
              </div>
            </form>
            <button class="btn btn-info" ng-click="updateCar(key, newCar)">update</button>
            <button class="btn btn-danger" ng-click="deleteCar(key ,newCar)">delete</button>
          </div>
        </div>

        <!-- New Car bio
        <div class="col-xs-12 col-sm-6 col-md-6">
          <form>
            <div class="form-group">
              <label for="car-bio"> Car bio </label>
              <textarea id="car-bio" class="form-control" ng-model="newCar.bio" placeholder="This car is super awesome ... "></textarea>
            </div>
          </form>
        </div>
        -->
      </div>

      <div class="row">

        <!-- New Car photo 
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="add-car"> <p> <span class="glyphicon glyphicon-picture"></span> Add Photo <span ng-show="newCar.name.length > 0">of</span> {{newCar.name}}</p></div>
          <img class="account-car-placeholder img-responsive" src="{{newCar.photos[0].url}}"></img>
        </div>
        <div class="col-xs-12">
          <textarea style="margin-top: 20px;" class="form-control car-caption" ng-model="photo.caption" placeholder="caption"></textarea>
        </div>
        -->

      </div>
    </div>
  </div>


</div>

