<div class="row user-block" ng-show="env.loggedIn">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{singleBlock.title}}</h3>
      </div>
      <div class="panel-body" id="list-container">
        <p>
        {{singleBlock.description}}
        </p>
        <div>
          {{singleBlock.rating.user_rating}}
          {{singleBlock.community_rating}}
        </div>
      </div>
      <hr>
      <div class="panel-body" id="list-container">
        <h4>Books</h4>
        <div class="row" ng-show="empty()">
          <div class="col-xs-12">
            <p class="lead">
            You haven't added any books yet!
            </p>
          </div>
        </div>
        <div class="row" ng-repeat="book in singleBlock.books">
          <div id="book-list">
            <button class="btn btn-default"  style="float: left;" ng-click="deleteBook($index)">
              <span class="glyphicon glyphicon-remove">
              </span>
            </button>
            <div style="float: left; margin-right: 10px;">
              <div ng-show="book.thumbnail_image.length > 0">
                <img style="margin-top: 5px;" ng-src="{{book.thumbnail_image}}" alt="">
              </div>
              <div ng-hide="book.thumbnail_image.length > 0">
                <img style="width: 50px;" src="app/img/placeholder.jpg" alt="">
              </div>
            </div>
            <p class="lead"> <strong>{{book.title}} </strong><br/>{{book.author}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row user-block" ng-show="env.loggedIn">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add A Book</h3>
        </div>
        <div class="panel-body" id="list-container">
          <input type="text" ng-model="search.book_title" class="form-control" placeholder="Goosebumps">
          <button class="btn btn-primary" ng-click="findBook()">Search for Book</button>
          <div ng-show="flashMessage" class="{{flashMessage.type}}">
            {{flashMessage.msg}}
          </div>
          <ul class="book-results-list">
            <li ng-repeat="book in bookResults">
              <div class="col-xs-2">
            <button class="btn btn-default" ng-click="addBookToBlock(book)">
              <span class="glyphicon glyphicon-plus">
              </span>
            </button>
                <img ng-src="{{book.thumbnail_image}}" alt="">
              </div>
              <div class="col-xs-10">
                <p class="lead"> <strong>{{book.title}} </strong><br/>{{book.author}} </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
