<div class="row user-block" ng-show="env.loggedIn">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{singleBlock.title}}</h3>
      </div>
      <div class="panel-body" id="list-container">
        <ul>
          <li>{{singleBlock.description}}</li>
          <li>{{singleBlock.rating.user_rating}}</li>
          <li>{{singleBlock.community_rating}}</li>
        </ul>
      </div>
      <hr>
      <div class="panel-body" id="list-container">
        <h4>Books</h4>
        <ul ng-repeat="books in {{singleBlock.books}}">

        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row user-block" ng-show="env.loggedIn">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add A Book</h3>
      </div>
      <div class="panel-body" id="list-container">
        <input type="text" ng-model="search.book_title" class="form-control" placeholder="Goosebumps">
        <button class="btn btn-primary" ng-click="findBook()">Search for Book</button>
        <ul>
          <li ng-repeat="book in bookResults">
            <img ng-src="{{book.thumbnail_image}}" alt="">
            {{book.title}}
            {{book.author}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
