
<div class="container">
  <div class="row">

    <div class="col-xs-4" ng-show="env.loggedIn">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">My Blocks</h3>
        </div>
        <div class="panel-body" id="list-container">
          <ul class="list-group">
            <div class="row">
              <div ng-repeat="(key, value) in user.blocks" class="col-xs-12">
                <li class="list-group-item" ng-click="selectBlock(key)">
                  {{value.title}}
                  <button class="btn btn-default" ng-click="deleteBlock(key)">Delete</button>
                  <button class="btn btn-default" ng-click="selectBlock(key)">Edit</button>
                  <a class="btn btn-default" href="#/myblocks/block/?block={{key}}">View</a>
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-8" ng-show="env.loggedIn">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">My Blocks</h3>
        </div>
        <div class="panel-body">
          <form action="">
            <label for="">Title</label>
            <input type="text" ng-model="user.blocks[selectedId].title" class="form-control">
            <label for="">Description</label>
            <textarea type="text" ng-model="user.blocks[selectedId].description" class="form-control"></textarea>
            <label for="">Tags</label>
            <textarea type="text" ng-model="user.blocks[selectedId].tags" class="form-control"></textarea>
            <button type="button" class="btn btn-primary" ng-click="createNewBlock()">
              <span ng-hide="editing">
                Create
              </span>
              <span ng-show="editing">
                Save
              </span>
            </button>
          </form>
        </div>
      <div class="panel-body" id="list-container">
        <ul ng-repeat="(key, value) in user.blocks" class="list-group col-xs-12 col-sm-12">
          <a href="#/myblocks/block/?block={{key}}"> {{value.title}} </a>
          <button class="btn btn-warning" ng-click="deleteBlock(key)">Delete Block</button>
          <button class="btn btn-info" ng-click="editBlock(key)">Edit Block</button>
          <p>{{value.description}}</p>
          <p>{{value.tags}}</p>
        </ul>
      </div>
    </div>
  </div>
</div>

