
<div class="container">
  <div class="row">

    <div class="col-xs-4" ng-show="env.loggedIn">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">My Blocks</h3>
        </div>
        <div class="panel-body" id="list-container">
          <ul class="list-group">
            <div class="row">
              <div ng-repeat="(key, value) in user.blocks" class="col-xs-12">
                <li class="list-group-item"><a href="#/myblocks/block/?block={{key}}">{{value.title}}</a> {{value.description}}</li>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-8" ng-show="env.loggedIn">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">My Blocks</h3>
        </div>
        <div class="panel-body">
          <form action="">
            <label for="">Title</label>
            <input type="text" ng-model="newBlock.title" class="form-control">
            <label for="">Description</label>
            <textarea type="text" ng-model="newBlock.description" class="form-control"></textarea>
            <label for="">Tags</label>
            <textarea type="text" ng-model="newBlock.tags" class="form-control"></textarea>
            <button type="button" class="btn btn-primary" ng-click="createNewBlock()">Create Block</button>
          </form>
        </div>
      <div class="panel-body" id="list-container">
        <ul ng-repeat="(key, value) in user.blocks" class="list-group col-xs-12 col-sm-12">
          <li class="list-group-item">
            <a href="#/myblocks/block/?block={{key}}">
              {{value.title}}
            </a>
            <button class="btn btn-warning" ng-click="deleteBlock(key)">Delete Block</button>
          </li>
          <li class="list-group-item">{{value.description}}</li>
          <li class="list-group-item">{{value.tags}}</li>
          <ul ng-repeat="book in value.books">
            <li>{{book.title}}</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>

